* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.cab {
  width: 100%;
  height: 60px;
  background-color: rgba(24, 24, 24, 1);
  color: rgba(246, 246, 246, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  max-width: 100%;
  height: 60px;
  background: rgba(246, 246, 246, 1);
}

.titulo h1 {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo a {
  text-decoration: none;
  color: rgba(24, 24, 24, 1);
}


.intro {
  background-image: url('img/wallpaper.jpeg');
  min-height: 500px; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  
  
}



.intro h2 {
  font-family: Montserrat;
  color: rgba(246, 246, 246, 1);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  margin-left: 90px;
  margin-bottom: 20px;
  
  
  
  
}

.intro p {
  font-family: Montserrat;
  font-style: normal;
  
  font-size: 18px;
  line-height: 196.19%;
  color: white;
  margin-left: 90px;
  
  
}

.destaques h2 {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 60px;
}

.destaques p {
  font-family: Montserrat;
  color: rgba(71, 71, 71, 1);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}

.destaques-img {
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  
}
.destaques-img img {
  padding: 60px 0;
  background: rgba(235, 233, 234, 1);
  max-width: 300px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  display: flex;
  justify-items: center;
}

footer {
  text-align: center;
  padding: 40px;
  background: rgba(24, 24, 24, 1);
  margin-top: 80px;
}

footer a {
  text-decoration: none;
  color: rgba(246, 246, 246, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
}

footer a:hover {
  color: rebeccapurple;
  transition: 0.8s;
}
